.side-panel{

  background:white;

  border-radius:16px;

  padding:26px;

  box-shadow:0 6px 20px rgba(0,0,0,0.05);

  width:100%;

}

.side-panel h3{

  font-size:22px;

  margin-bottom:20px;

  color:#1f2937;

}

.stat-card{

  background:#f1f5f9;

  padding:18px 20px;

  border-radius:12px;

  margin-bottom:16px;

  display:flex;

  justify-content:space-between;

  align-items:center;

  font-size:16px;

  font-weight:500;

}

.stat-card strong{

  font-size:20px;

  color:#1e293b;

}